.topNavBar {
  width: 100%;
  height: 80px;
  justify-content: space-between; 
  align-items: center;
  display: flex;
  background: rgb(219, 73, 5);
  position: fixed;
  z-index: 99;
  transition: 1s;
  overflow: hidden;
}

.topLinks {
  display: flex;
  list-style-type: none;
}

.links {
  text-decoration: none;
  font-size: 12px;
  padding: 10px;
  color: white;
  display: flex;
  align-items: center;
  gap: 5px;
}

.links:hover {
  color: rgb(248, 131, 89);
}

.logo {
  font-family: "Sedgwick Ave Display", Arial, Helvetica, sans-serif;
  font-size: 15px;
  padding: 10px 5px;
  color: white;
  cursor: none;
  margin-left: 4px;
}

.carticon {
  position: relative;
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
  cursor: pointer;
  transition: all 1s;
}

.count {
  width: 20px;
  height: 20px;
  overflow: hidden;
  background: red;
  color: white;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  right: 2px;
  bottom: 2px;
  z-index: 99;
}

.btncarrier {
  display: flex;
  padding-right: 20px;
}

@media (max-width: 600px) {
  .search {
    display: none;
  }
  .icon {
    display: none;
  }
  .topNavBar{
    height: 60px;

  }
  .carticon{
    width: 40px;
    height: 40px;
  }
  .count{
    width:15px;
    height:15px;
    font-size: 10px;
  }
}
